*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.s-main-cont{
    background-color: #585C79;
}

.navbar{
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: #2C6396;
    border-bottom: 1px solid rgb(170, 209, 241);
}

.navbar img{
    height: 90px;
}

.navbar div{
    font-size: 13px;
}

.main-cont .m-inr{
    display: flex;
}

.m-inr .sidebar{
    width: 18rem;
    background-color: #2C76B9;
    color: white;
}
.m-inr .sidebar a{
    color: white;
}

.m-inr .sidebar li{
    border-bottom: 1px solid rgb(194, 194, 194);
    padding: 10px 1rem;
}

.m-inr .sidebar li:hover{
    cursor: pointer;
    background-color: #FFA500;
}

.m-inr .main-content{
    background-color: gren;
}

.sidebar-links{
    list-style-type: none;
}